
@{
    ViewData["Title"] = "Index";
}

<div class="row offset-1">

    <h1 class="offset-4 pt-5">Welcome  Admin🙏</h1>
    <div class="row">
        <div class="col-md-5 pt-5 ">
            <img src="https://qtxasset.com/2016-08/careteam_0.jpg?RkdaSLDeXXpSP2rhj1AZzMwKVa28dhAl" width="250" height="250" style="border-radius:10px"/>
            <div class="col"><a asp-controller="admin" asp-action="doctors" class="btn btn-info" style="width:250px">Doctors Details</a></div>
        </div>

        <div class="col pt-3">
            <br />
            <br />
            <h4 class="font-weight-bold text-bg-dark" style="color:blue">There are many types of doctors, but there are two main categories: <b>primary care or specialty care.</b> Within these two groups,doctors vary widely in their specialty area and level of training.</h4>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-5 pt-5 ">
            <img src="https://2.bp.blogspot.com/-R8VF5acyU1Y/VL9kv_fPd_I/AAAAAAAAD0I/e-RrAno2CSU/s1600/reschedule.jpg" width="250" height="250" style="border-radius:10px" />
            <a asp-controller="Admin" asp-action="Appointment" class="btn btn-info " style="width:250px">Appointments</a>
        </div>
        <div class="col pt-3">
            <br />
            <br />
            <h4 class="font-weight-bold text-bg-dark ">Give customers the convenience to self schedule, cancel, reschedule and book recurring appointments using Appointy’s 24×7 online booking software. Send automated email and text reminders before appointments and reduce no-shows</h4>
        </div>

    </div>
</div>
