
@{
    ViewData["Title"] = "LoginError";
}
<body style="align-content:center">
    <h1 style="color:crimson">Incorrect UserName Or Password Please Try Again........!</h1>
    <a asp-controller="Home" asp-action="index" class="btn btn-danger"> Go Back</a>
</body>