@model IEnumerable<AppointmentBookingViewModel>

@{
    ViewData["Title"] = "Appointment";
}

<h1>Index</h1>


<div class="class=row">
    <div class="class=col-md-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Patient</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Date</td>

                        <td> @item.PatientName</td>
                        <td>
                            <a asp-controller="Doctor" asp-action="AppointmentDetails" class="btn btn-dark" asp-route-id="@item.Id">Details</a>
                            <a asp-controller="Doctor" asp-action="AppointmentDelete" class="btn btn-dark" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Doctor" asp-action="Doctor_home" class="btn btn-dark">Back</a>

    </div>
</div>


