
@{
    ViewData["Title"] = "Doctor_Home";
}
<div class="row offset-1">

    <h1 class="offset-4 pt-5">Welcome  Doctor🙏</h1>
    <div class="row">
        <div class="col-md-5 pt-5 ">
            <img src="https://th.bing.com/th?id=OIP.iY7p1Du_hhjrPWioENC5ZAHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="250" height="250" style="border-radius:10px" />
            <a asp-controller="AppointmentBooking" asp-action="index" class="btn btn-info " style="width:250px">Appointment History</a>
        </div>
        <div class="col pt-3">
            <br />
            <br />
            <h4 class="font-weight-bold text-bg-dark ">Give customers the convenience to self schedule, cancel, reschedule and book recurring appointments using Appointy’s 24×7 online booking software. Send automated email and text reminders before appointments and reduce no-shows</h4>
        </div>

    </div>
    </div>