@model IEnumerable<AppointmentBookingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="class=row">
    <div class="class=col-md-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Appointment Date</th>
                    <th>Specialization</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Date</td>

                        <td> @item.DocSpecializationId</td>
                        <td class="btn btn-dark">
                            <a asp-controller="AppointmentBooking" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


 