@{
    ViewData["Title"] = "Home Page";
}
<body class="img">
    <div class="text-center">
        <h1 style="font-size: 100px; padding-top: 150px; color: slategrey; text-shadow: 2px 2px black;">Welcome</h1>
      
    </div>
</body>
<style>
    .img {
        background-image: url('https://wallpapercave.com/wp/wp2386748.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>