
@{
    ViewData["Title"] = "Patient_Home";
}

<h1>Patient_Home</h1>
<a asp-controller="doctor" asp-action="index" class="btn btn-info">Doctors Details</a>
<a asp-controller="AppointmentBooking" asp-action="Create" class="btn btn-info">Book Appointment </a>

<a asp-controller="AppointmentBooking" asp-action="index" class="btn btn-info">Appointment History</a>

